<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/chartsStyle.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
    <script src="../routes/charts.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="img/tutrleLogoCircle.png">

    <title>AQUA</title>

    <style>
        body.header-not-at-top header {
            margin-top: -0.5rem;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>

<body class="background-red">
    <div id="jsUsed">
        <header class="header-color">
            <a href="//localhost:3000/" class="logo">AQUA</a>
            <div class="menu-toggle"></div>
            <nav>
                <ul>
                    <li><a href="//localhost:3000/team">Team</a></li>
                    <div class="dropdown">
                        <li><a>Language</a></li>
                        <div class="dropdown-content">
                            <li><a href="html/reportFire.html">󠁧󠁢󠁥English</a></li>
                            <li><a href="html/reportBug.html">󠁧󠁢󠁥󠁮󠁧Bulgarian󠁧</a></li>
                        </div>
                    </div>
                </ul>
            </nav>
            <div class="clearfix"></div>
        </header>
    </div>

    <div class="container">
        <div class="profiles">
            <div class="profile">
                <div class="chart background-charts diagram2">
                    <canvas id="bar-chart" width="800" height="450">
                  <script>
                    <%console.log(chartByDaysData)%>
                  new Chart(document.getElementById("bar-chart"), {
                  type: 'bar',
                  data: {
                    labels: ["1-5 days", "6-10 days", "11-20 days", "20-50 days", "50+ days"],
                    datasets: [
                      {
                        backgroundColor: ["#426E86", "#1f456e","#63c5da","#48aaad","#0492c2"],
                        //data: [50,75,83,20,6]
                        data:[<%=chartByDaysData['data1']%>, <%=chartByDaysData['data2']%>, <%=chartByDaysData['data3']%>, <%=chartByDaysData['data4']%>, <%=chartByDaysData['data5']%>]
                      }
                    ]
                  },
                  options: {
                      plugins: {
                    legend: { display: false },
                    title: {
                      display: true,
                      text: 'Number of turtles according to how many days they spent in the facility'
                    }}
                  }
                  });
                  </script>
                </canvas>
                </div>

                <div class="chart background-charts diagram2">
                    <canvas id="mixed-chart" width="400" height="150">
                <script>
                new Chart(document.getElementById("mixed-chart"), {
                type: 'bar',
                data: {
                labels: ["2017","2018", "2019", "2020", "2021"],
                datasets: [{
                type: "line",
                borderColor: "#F9C34D",
                data: [225,250,302,275,306],
                fill: true
                }]
                // Block chart elements can be added
                },
                options: {
                plugins: {
                title: {
                display: true,
                text: 'Number of turtles in the last 5 years'
                },
                legend: { display: false }
                }}
                });
                </script>
                </canvas>
                </div>
            </div>

            <div class="profile">


                <div class="chart background-charts diagram">
                    <canvas id="pie-chart" width="200" height="200">
                    <script>
                    new Chart(document.getElementById("pie-chart"), {
                        type: 'pie',
                        data: {
                          labels: ["Male","Female"],
                          datasets: [{
                            backgroundColor: ["#426E86", "#F9C34D"],
                            data: [621,479] //countMale, countFemale
                          }]
                        
                        },
                        
                    options: { 
                        plugins: {
                            title: {
                                display: true,
                                text: 'Chart for male to female ratio'
                            }
                        },
                    }
                    });
                    </script>
                    </canvas>
                </div>

                <div class="chart background-charts diagram">
                    <canvas id="polar-chart" width="800" height="450">
                      <script>new Chart(document.getElementById("polar-chart"), {
                          type: 'polarArea',
                          data: {
                            labels: ["Sofia", "Plovdiv", "Varna", "Burgas", "Ruse"],
                            datasets: [
                              {
                                backgroundColor: ["#426E86", "#1f456e","#63c5da","#48aaad","#0492c2"],
                                data: [202,150,170,195,165]// Sofia, Plovdiv, Varna, Burgas, Ruse
                              }
                            ]
                          },
                          options: {
                              plugins: {
                            title: {
                              display: true,
                              text: 'Number of turtles from the 5 largest cities in Bulgaria'
                            }
                          }}
                      });
                      </script>
                      </canvas>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div id="top-of-site-pixel-anchor"></div>
    <script src="../js/main.js"></script>

    <!--Font Awesome CDN BOOTSTRAP-->
    <script src="https://kit.fontawesome.com/55c91cfd61.js" crossorigin="anonymous"></script>
    <!--jQuery CDN BOOTSTRAP-->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('.menu-toggle').click(function() {
                $('.menu-toggle').toggleClass('active')
                $('nav').toggleClass('active')
            })
        })
    </script>
</body>

</html>